/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/

body {
  padding: 0;
  margin: 0;
}

img {
  position: absolute;
  width: 200px;
  height: 103px;
  align: bottom;
}
